body {
  font-size: 16px;
  color: #333;
}

textarea:focus, input:focus {
  outline: 0;
}

/*.nav-wrapper {
	position: fixed !important;
	width: 100%;
	max-height: 64px;
	z-index: 101;
}*/
.pointer {
  cursor: pointer;
}

.cf {
  display: table;
  clear: both;
  content: "";
}

.bold-text {
  font-weight: bold;
}

.proj-input {
  width: 100%;
}

.registration-form {
  margin-top: 40px;
}

.login-form {
  margin-top: 40px;
}

.text-center {
  text-align: center;
}

.profile h6 {
  margin-bottom: 20px;
}

.navatar {
  width: 46px;
  height: 46px;
  border-radius: 23px;
  display: block;
  margin-top: 10px;
  margin-right: 10px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.add-skill h3 {
  margin-top: 10px;
}

.add-skill .skill-level {
  font-size: 1.2rem;
}

.skill-card .card {
  box-sizing: border-box;
}

.skill-card .card {
  height: 350px;
}

.skill-card .card-image {
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1.3rem;
  padding-bottom: 2rem;
}

.skill-card h2 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.skill-card i {
  cursor: pointer;
}

.skill-card .btn-large {
  width: 100%;
  margin-top: 1.2rem;
}

.skill-card .btn-small {
  width: 48%;
  margin-left: 1%;
  margin-top: 1.2rem;
}

.skill-card .deleting {
  margin-top: 1.7rem;
}

.skill-card .card-title i {
  color: #333;
}

.add-skill div textarea.materialize-textarea {
  padding-top: .4rem;
}

.add-skill.modal {
  max-height: 80%;
}

.add-skill button {
  width: 39%;
  margin-right: 5%;
  margin-left: 5%;
}

.add-skill .levels {
  margin-bottom: 30px;
}

.add-skill .levels div:first-child {
  margin-bottom: 30px;
}

@media only screen and (max-width: 992px) {
  .add-skill button {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .add-skill.modal {
    width: 100%;
    /*margin-right: 2%;*/
    /*margin-left: 2%;*/
    top: 0 !important;
    height: 100%;
    max-height: 100%;
  }
}
